# Lib

In [3]:
%load_ext autoreload
%autoreload 2

import pandas as pd

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 10000)


import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sys
import os
import glob
import joblib

if sys.platform=='win32':
    sys.path.insert(0,".\..\src")
        
elif sys.platform=='linux':
    sys.path.insert(0,"./../src")

from utils import utils_ml, parameters

In [4]:
if sys.platform=='win32':
    !dir .\
        
elif sys.platform=='linux':
    !ls ./

 O volume na unidade C � OS
 O N�mero de S�rie do Volume � C498-8BF5

 Pasta de c:\Users\caanp\OneDrive\Documents\repositories\ML-anti-fraud\notebooks

18/11/2022  19:16    <DIR>          .
18/11/2022  16:18    <DIR>          ..
10/09/2022  23:28    <DIR>          .ipynb_checkpoints
21/11/2022  23:51         1.007.073 1.EA.ipynb
21/11/2022  23:43            70.541 2.Feature_engineering.ipynb
19/11/2022  02:54            22.885 3.Stability_var.ipynb
21/11/2022  22:52           128.728 4.Modeling.ipynb
21/11/2022  19:26    <DIR>          catboost_info
               4 arquivo(s)      1.229.227 bytes
               4 pasta(s)   341.116.743.680 bytes dispon�veis

# Reading

In [5]:
## para saber en que directório uno se encuentra
#
if sys.platform=='win32':
    !echo %cd%
        
elif sys.platform=='linux':
    !pwd

c:\Users\caanp\OneDrive\Documents\repositories\ML-anti-fraud\notebooks

In [22]:
df = pd.read_parquet(f"{parameters.data_path}\\dataset_structed.parquet")
df['data'] = pd.to_datetime(df['data'])

In [23]:
gb = df.groupby(pd.Grouper(key='data', freq="W"))

dff_with_week = []

for week, df_week in gb:

    df_week['week'] = week

    dff_with_week.append(df_week)


dff_week = pd.concat(dff_with_week)

C:\Users\caanp\AppData\Local\Temp\ipykernel_23784\26454910.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_week['week'] = week
C:\Users\caanp\AppData\Local\Temp\ipykernel_23784\26454910.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_week['week'] = week
C:\Users\caanp\AppData\Local\Temp\ipykernel_23784\26454910.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_week['week'] = week
C:\Users\caanp\AppData\Local\Temp\ipykernel_23784\26454910.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_week['week'] = week
C:\Users\caanp\AppData\Local\Temp\ipykernel_23784\26454910.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_week['week'] = week
C:\Users\caanp\AppData\Local\Temp\ipykernel_23784\26454910.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_week['week'] = week
C:\Users\caanp\AppData\Local\Temp\ipykernel_23784\26454910.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_week['week'] = week
C:\Users\caanp\AppData\Local\Temp\ipykernel_23784\26454910.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_week['week'] = week

In [27]:
dff_week

        a_int  b_float     c_float  d_float   e_float  f_float pais  h_float                                            produto categoria_produto   k_float  l_float  m_float  n_boolean o_obj p_boolean                fecha  monto  score  fraude       data       hora       week
29          1   0.8083   137003.67     35.0  0.134123     43.0   BR        8                    Cooktop Vitrum 4 Bocas - Branco       cat_30deaba  0.403958   5728.0    236.0          1     Y         Y  2020-03-08 18:58:56  79.80     63       0 2020-03-08   18:58:56 2020-03-08
126         2   0.6003  1482643.48      1.0  0.000000      0.0   AR       30  Quelat Zinc Forte Minerales Aminoquelados Supl...       cat_a28270e  0.873002     25.0     10.0          0  None         N  2020-03-08 01:37:00   8.44     94       0 2020-03-08   01:37:00 2020-03-08
261         4   0.6953     4786.66      2.0  0.324009      2.0   BR        4  Corrente 60 Cm + Pulseira Fígaro + Medalha São...       cat_e790de8  0.815440   1883.0    109.0          1  None         N  2020-03-08 21:04:55   9.54     72       0 2020-03-08   21:04:55 2020-03-08
351         4   0.7564    29974.48      9.0  0.116949     67.0   BR        2  Saia Midi Plissada Geometria Listrada  Godê Ev...       cat_d478fcb  0.354773   4189.0     83.0          1  None         N  2020-03-08 14:38:09  13.11     42       0 2020-03-08   14:38:09 2020-03-08
386         4   0.7296     6443.87     30.0  0.330769      7.0   BR       24  Crescer Barba Cabelo Bigode Beard Growth Conce...       cat_a5b2091  0.487453    269.0    219.0          1  None         Y  2020-03-08 11:56:34   8.67     72       0 2020-03-08   11:56:34 2020-03-08
...       ...      ...         ...      ...       ...      ...  ...      ...                                                ...               ...       ...      ...      ...        ...   ...       ...                  ...    ...    ...     ...        ...        ...        ...
149918      4   0.7611    91739.28      8.0  0.000000      0.0   BR        2  Kit Completo Microfone Condensador Bm800 Preto...       cat_1a1505a  0.637483   1392.0    118.0          1  None         Y  2020-04-21 19:20:40  38.37     31       0 2020-04-21   19:20:40 2020-04-26
149944      4   0.5335   443340.32      2.0  0.000000     10.0   AR       19  Exprimidor Electrico Profesional Naranjas Jugo...       cat_1fa3fb8  0.422631   3044.0     28.0          1  None         N  2020-04-21 21:19:29  48.93     37       0 2020-04-21   21:19:29 2020-04-26
149953      4   0.7717   505494.64     18.0  0.212472    365.0   BR       10            Pilha Alcalina Com 16 Unid. Aa Duracell       cat_ec170c7  0.131495   5419.0     86.0          1  None         N  2020-04-21 12:29:20   8.66     17       0 2020-04-21   12:29:20 2020-04-26
149972      4   0.7823    68712.34     50.0  0.472789     36.0   BR       16  Banqueta Plastica Dobravel Manicure Pesca Camp...       cat_960e53d  0.196138   3665.0    421.0          1  None         Y  2020-04-21 06:36:50   5.67     75       0 2020-04-21   06:36:50 2020-04-26
149973      4   0.7610    15019.78      6.0  0.226857     13.0   BR        1  Chaleira Aço Inox Alça Térmica Com Apito 2 Litros       cat_957d3b1  0.841144   1951.0     49.0          1  None         N  2020-04-21 09:27:00  12.67     63       0 2020-04-21   09:27:00 2020-04-26

[150000 rows x 23 columns]

In [31]:
seman = dff_week.groupby("week").agg( 

    set_data = ("data",lambda x: list(np.unique(x)) ),
     total_dias = ("data",lambda x: len(list(np.unique(x))) ),
     total_um = ("fraude",lambda x: sum(x) ),
    total_zero = ("fraude",lambda x: sum( (x+1)%2 ) ),
    total = ("fraude","count" )
    
     )


seman['%_cusum'] = (seman['total']/seman['total'].sum()).cumsum()

seman

                                                     set_data  total_dias  total_um  total_zero  total   %_cusum
week
2020-03-08                    [2020-03-08T00:00:00.000000000]           1       124        2714   2838  0.018920
2020-03-15  [2020-03-09T00:00:00.000000000, 2020-03-10T00:...           7      1184       23339  24523  0.182407
2020-03-22  [2020-03-16T00:00:00.000000000, 2020-03-17T00:...           7      1149       24050  25199  0.350400
2020-03-29  [2020-03-23T00:00:00.000000000, 2020-03-24T00:...           7      1142       18927  20069  0.484193
2020-04-05  [2020-03-30T00:00:00.000000000, 2020-03-31T00:...           7      1008       16426  17434  0.600420
2020-04-12  [2020-04-06T00:00:00.000000000, 2020-04-07T00:...           7      1322       23121  24443  0.763373
2020-04-19  [2020-04-13T00:00:00.000000000, 2020-04-14T00:...           7      1087       24245  25332  0.932253
2020-04-26  [2020-04-20T00:00:00.000000000, 2020-04-21T00:...           2       484        9678  10162  1.000000

In [275]:
colunas_orig_and_week = utils_ml.exclude_words( dff_week.columns.tolist(), ["cat","bin","WoE","produto","fecha","data","hora","week","fraude"] ) + ['categoria_produto']
# colunas_orig_and_week_bin = utils_ml.exclude_words(colunas_orig_and_week_bin , ['categoria'] ) + ['categoria_produto_cat']
weeks = dff_week['week'].unique()

len(colunas_orig_and_week), len(weeks)

(17, 8)

In [264]:
colunas_orig_and_week

['a_int',
 'b_float',
 'c_float',
 'd_float',
 'e_float',
 'f_float',
 'pais',
 'h_float',
 'k_float',
 'l_float',
 'm_float',
 'n_boolean',
 'o_obj',
 'p_boolean',
 'monto',
 'score',
 'categoria_produto']

In [266]:
label = "fraude"
dtype_ = 'categorical'
df_woe_ivs_ls = []

for n,variable in enumerate(colunas_orig_and_week, start=1):

    print(f"{n}/{len(colunas_orig_and_week)}",variable)

    ## carregando o modelo pretreinado de
    optb = joblib.load(f".\..\src\\features\\pipeline_binning__{variable}__.pkl")

    for week in weeks:

        df_filtred = dff_week[dff_week['week']==week][[variable,label]]
        df_filtred = utils_ml.encode_woe_var_transform(df_filtred, variable, optb )

        ## computting the WOE and IV to variable transformed with _cat in the end.
        df_iv = utils_ml.WOE_IV(df = df_filtred  , variable = f"{variable}_bins", dtype_ = dtype_ , label = label, monotonic= True, optimal_binning = False)
        df_iv['week'] = week


        df_woe_ivs_ls.append(df_iv)

df_woe_ivs = pd.concat(df_woe_ivs_ls).sort_values("IV_var", ascending=False)

1/17 a_int
2/17 b_float
3/17 c_float
4/17 d_float
5/17 e_float
6/17 f_float
7/17 pais
8/17 h_float
9/17 k_float
10/17 l_float
11/17 m_float
12/17 n_boolean
13/17 o_obj
14/17 p_boolean
15/17 monto
16/17 score
17/17 categoria_produto

In [274]:
df_woe_ivs['Bin'] = df_woe_ivs['Bin'].astype("string")
df_woe_ivs.query("Bin!='Missing' and Bin!='Special'").to_parquet(".\..\data\\iv_woe_by_week.parquet")

## Data to explore in powerBI

# Requirements

In [110]:
path_root = parameters.root
!pip list --format=freeze > $path_root/requirements.txt

5697.85s - pydevd: Sending message related to process being replaced timed-out after 5 seconds